<%layout("/layouts/boilerplate")%>

<div class="row">
    <div class="col-8 offset-2">
        <br /><br />
        <h3>Sign Up</h3>
        <form
            action="/signup"
            method="POST"
            novalidate
            class="needs-validation"
        >
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" required />
            <div class="invalid-feedback">Please enter valid username.</div>
            <label for="email" class="form-label">Email</label>
            <input type="text" name="email" class="form-control" required />
            <div class="invalid-feedback">Please enter valid email.</div>
            <label for="password" class="form-label">Password</label>
            <input
                type="password"
                name="password"
                class="form-control"
                required
            />
            <div class="invalid-feedback">Please enter valid password.</div>
            <br />
            <button type="submit" class="btn btn-dark">Sign Up</button
            ><br /><br />
        </form>
    </div>
</div>
